input,
button,
textarea,
select {
    appearance: none;
    outline: none;
    border: none;
    background-color: transparent;
}

// chrome 自动填充时出现黄色backgroun bugfix
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

.ui-textarea {
    display: block;
    resize: none;
    width: 100%;
    min-height: 50px;
    font-size: 14px;
    &-counter {
        color: #B2B2B2;
        text-align: right;
        font-size: 12px;
        line-height: 16px;
    }
}

.ui-placeholder {
    color: #a9a9a9;
}