.ld-smscode {
    border-radius: 0;
    min-width: 80px;
    text-align: center;
    color: #ff552e;
    font-size: 14px;
    line-height: 24px;
    position: relative;
    background-color: transparent;
    border: 0 none;
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 1px;
        height: 100%;
        background-color: #f3f3f3;
        transform-origin: 0 0;
        transform: scaleX(0.5);
    }
    img {
        display: block;
        height: 100%;
        width: 100%;
    }
}